$cor-principal: #00ff00;
h1{
	color: $cor-principal;
}
p{
	color: $cor-principal;
	font-size: 24px;
}

@import "header";

@mixin box-padrao($cor, $tamanho){
	border: solid $tamanho $cor;
}

.box-teste{
	width: 300px;
	height: 100px;
	@include box-padrao(#ff0000, 5px);
}












